
.clients__list {
  @include for-phone-up {
    display: flex;
    margin: -15px;
  }
  @include for-desktop-dn {
    flex-wrap: wrap;
  }
}

.clients__item {
  height: 92px;
  width: 100%;
  margin-bottom: 5px;

  @include for-phone-up {
    margin-bottom: 0;
    margin: 15px;
  }
  @include for-phone-up {
    flex-basis: calc((100% - 2 * 30px) / 2);
  }

  @include for-tablet-up {
    flex-basis: calc((100% - 3 * 30px) / 3);
  }
}

.clients__link {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  padding: 16px 0;

  fill: $color-icon;
  border: 1px solid $color-icon;
  border-radius: 4px;

  transition: fill 250ms $timing-function, border-color 250ms $timing-function;
  &:hover,
  &:focus {
    fill: $acсent-color;
    border-color: $acсent-color;
  }
}

.clients__icon {
  display: block;
  background-size: contain;

  width: 106px;
  height: 60px;
  border: none;
}
