.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container__titele {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
}
    