/* footer site-подвал сайта */

.footer {
  //   display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $background-dark;
}
.footer__container {
  @include for-tablet-up {
    display: flex;
    justify-content: center;
  }
  @include for-desktop-dn {
    flex-wrap: wrap;
  }
}

.footer__logo {
  padding: 0;
}
.footer__blok {
  @include for-desktop-dn {
    margin-bottom: 60px;
  }
  @include for-desktop-up {
    text-align: start;
  }

  //   margin-right: 70px;
}
