.header {
  position: relative;
  text-align: center;
  &--background {
    background-color: $main-light;
  }

  &--border-bottom {
    border-bottom: 1px solid #ececec;
  }

  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-width: 768px) {
    width: 768px;
  }
}

// .header--alignment{
//     display: flex;
//     align-items: center;}
