 

.header--background {
    background-color: $main-light;}


.header--border-bottom {
    
    border-bottom: 1px solid #ececec;
    }
        .header__button{
            display: inline-block;
        } 
.header__icon-mobile{
    display: inline-block;
    background-size: contain;
            // padding: 12px 8px;
        }



// .header--alignment{
//     display: flex;
//     align-items: center;}
