.header {
  position: relative;
  text-align: center;

  &--background {
    background-color: $main-light;
  }

  &--border-bottom {
    border-bottom: 1px solid #ececec;
  }
  &__mobile-menu {
    padding: 12px 10px;
    margin-left: auto;
    margin-right: auto;

    @include for-phone-up {
      padding: 48px 40px;
    }
  }
  &__close-menu {
    position: absolute;
    top: 10px;
    right: 15px;
    color: $main-text-color;
  }
  &__open-menu {
    @include for-tablet-up {
      display: none;
    }
  }
}
.header__icon-close {
  fill: currentColor;
}

.header__open-menu,
.header__close-menu {
  background-color: transparent;
  border: none;
}

.header--alignment {
  @include centerFlex;
  justify-content: space-between;
}
.header__close-menu:hover .header__icon-close,
.header__close-menu:focus .header__icon-close {
  color: $acсent-color;
}
