.menu-phone {
  display: none;
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  background-color: rgba(247, 146, 24, 0.5);
  padding: 20px;
  height: 400px;
  font-size: 20px;
  &.is-open {
    display: block;
  }
}
