/* Наша команда */
.team--background {
  background-color: $background-grey;
}

.team__list {
  @include for-tablet-up {
    display: flex;
    margin: -15px;
  }
  @include for-desktop-dn {
    flex-wrap: wrap;
  }
}

.team__item {
  width: 100%;
  margin-bottom: 30px;
  text-align: center;
  background-color: $main-light;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  @include for-tablet-up {
    margin: 15px;
    width: calc((100% - 2 * 30px) / 2);
  }
  @include for-desktop-up {
    width: calc((100% - 4 * 30px) / 4);
  }
}



.team__container {
  padding-top: 30px;
  padding-bottom: 16px;
}
.team__social {
  margin-bottom: 24px;
}

.team__name {
  margin-bottom: 10px;
  color: $main-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.team__specialization {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.19;
  color: $main-text-grey;
}
