  /* текст */
  $main-text: 'Roboto',
  sans-serif;

  $logo-text: 'Raleway',
  sans-serif;
  
  /* цвета текста */
  $main-text-color: #212121;
  $acсent-color: #2196f3;
  $main-text-grey: #757575;
  $main-light: #ffffff;
  $color-icon: #afb1b8;

  /* цвета фона */
  $background-dark: #2f303a;
  $background-light: #e5e5e5;
  $background-grey: #f5f4fa;

  /* анимации */
  $timing-function: cubic-bezier(0.4, 0, 0.2, 1);